USE [flight]
GO

/****** Object:  Table [dbo].[Airport_Information]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airport_Information](
	[index] [bigint] NULL,
	[IATACode] [varchar](max) NULL,
	[Airport Name] [varchar](max) NULL,
	[City] [varchar](max) NULL,
	[Country] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Airline_Route_Details]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airline_Route_Details](
	[index] [bigint] NULL,
	[Sector] [varchar](max) NULL,
	[Distance mile GDS] [bigint] NULL,
	[Distance km GDS] [float] NULL,
	[Sector_2] [varchar](max) NULL,
	[Route] [varchar](max) NULL,
	[Country 1] [varchar](max) NULL,
	[Country 2] [varchar](max) NULL,
	[Country] [varchar](max) NULL,
	[DOM/INT] [varchar](max) NULL,
	[Area] [varchar](max) NULL,
	[inserted_time] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[index] [bigint] NULL,
	[Country] [varchar](max) NULL,
	[Region] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Airline_Details]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airline_Details](
	[index] [bigint] NULL,
	[CARRIER] [varchar](max) NULL,
	[QG] [varchar](max) NULL,
	[Airlines name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_data_chot]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_data_chot](
	[convert_date] [bigint] NULL,
	[flightno] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[totalpax] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[acregno] [varchar](max) NULL,
	[source] [nvarchar](max) NULL,
	[sheet_name] [nvarchar](max) NULL,
	[region_type] [int] NOT NULL,
	[seat] [bigint] NULL,
	[week_number] [int] NULL,
	[year_number] [int] NULL,
	[note] [nvarchar](255) NULL,
	[type_filter] [int] NULL,
	[inserted_time] [datetime] NULL,
	[int_dom_] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[source_pbi_final]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[source_pbi_final] as 

with flight_data  as (
select *  , 
	case 
		when totalpax = 0 and ( isnull( cgo,0) + isnull( mail,0) > 0 ) then 0 
		when totalpax > 0 then 1 
	end Flight_type  
from flight_data_chot
where type_filter > 0 
and note  is null
and type_filter > 0 
) 

select 
	f.*,
	LEFT(F.ROUTE, 3) AS DEPARTURE,            -- MÃ SÂN BAY KH?I HÀNH
    RIGHT(F.ROUTE, 3) AS ARRIVES,            -- MÃ SÂN BAY ??N
    A1.[AIRLINES NAME],                      -- TÊN HÃNG HÀNG KHÔNG
    A.COUNTRY,                               -- QU?C GIA TUY?N BAY
    A.[DOM/INT],                             -- PHÂN LO?I N?I ??A (DOM) HAY QU?C T? (INT)                              
    CASE 
		WHEN R.COUNTRY = 'VIETNAM' THEN A.AREA 
		ELSE isnull(R.REGION , r.Country)
	END AS REGION,                                -- KHU V?C C?A QU?C GIA
    AI.CITY AS CITY_ARRIVES,       -- TÊN SÂN BAY ?I?M ??N
    AI.COUNTRY AS COUNTRY_ARRIVES,           -- QU?C GIA C?A SÂN BAY ?I?M ??N
    AI1.CITY AS CITY_DEPARTURE,    -- TÊN SÂN BAY ?I?M KH?I HÀNH
    AI1.COUNTRY AS COUNTRY_DEPARTURE         -- QU?C GIA C?A SÂN BAY ?I?M KH?I HÀNH
--into flight_analyze
--drop table flight_analyze
FROM 
    flight_data F
LEFT JOIN 
    AIRLINE_DETAILS A1 
    ON LEFT(F.FLIGHTNO, 2) = A1.CARRIER     -- K?T N?I V?I THÔNG TIN HÃNG HÀNG KHÔNG QUA MÃ HÃNG
LEFT JOIN 
    AIRLINE_ROUTE_DETAILS A 
    ON A.SECTOR = REPLACE(F.ROUTE, '-', '') -- K?T N?I V?I THÔNG TIN TUY?N BAY
LEFT JOIN 
    REGION R 
    ON R.COUNTRY = A.COUNTRY                -- XÁC ??NH KHU V?C D?A TRÊN QU?C GIA
LEFT JOIN 
    AIRPORT_INFORMATION AI 
    ON AI.IATACODE = RIGHT(F.ROUTE, 3)      -- K?T N?I THÔNG TIN SÂN BAY ??N QUA MÃ IATA
LEFT JOIN 
    AIRPORT_INFORMATION AI1 
    ON AI1.IATACODE = LEFT(F.ROUTE, 3)    -- K?T N?I THÔNG TIN SÂN BAY KH?I HÀNH QUA MÃ IATA
GO
/****** Object:  Table [dbo].[flight_analyze]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_analyze](
	[FLIGHT_DATE] [varchar](max) NULL,
	[FLIGHT_DATE_FORMAT] [date] NULL,
	[FLIGHT_NO] [varchar](max) NULL,
	[ACTYPE] [varchar](max) NULL,
	[SECTOR] [varchar](max) NULL,
	[TOTAL_PAX] [float] NULL,
	[CGO] [float] NULL,
	[MAIL] [float] NULL,
	[SEAT] [bigint] NULL,
	[DEPARTURE] [varchar](max) NULL,
	[ARRIVES] [varchar](max) NULL,
	[AIRLINES NAME] [varchar](max) NULL,
	[COUNTRY] [varchar](max) NULL,
	[DOM/INT] [varchar](max) NULL,
	[COM] [varchar](1) NOT NULL,
	[REGION] [varchar](max) NULL,
	[CITY_ARRIVES] [varchar](max) NULL,
	[COUNTRY_ARRIVES] [varchar](max) NULL,
	[CITY_DEPARTURE] [varchar](max) NULL,
	[COUNTRY_DEPARTURE] [varchar](max) NULL,
	[source] [varchar](max) NULL,
	[rnk_sg] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[source_pbi]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[source_pbi] 
as
select 
CASE 
        WHEN LEFT(sector, 3) < RIGHT(sector, 3) THEN sector
        ELSE RIGHT(sector, 3) + '-' + LEFT(sector, 3)
    END AS SortedRoute
	, ROW_NUMBER () over ( partition by concat ( flight_date_format , flight_no  , CASE 
        WHEN LEFT(sector, 3) < RIGHT(sector, 3) THEN sector
        ELSE RIGHT(sector, 3) + '-' + LEFT(sector, 3)
    END ) order by rnk_sg desc ,total_pax desc ) rnk_id 
	, count ( concat ( flight_date_format , flight_no  
							  , CASE 
								WHEN LEFT(sector, 3) < RIGHT(sector, 3) THEN sector
								ELSE RIGHT(sector, 3) + '-' + LEFT(sector, 3)
							END ) )
	  over (
	  partition by 
							concat ( flight_date_format , flight_no  
							  , CASE 
								WHEN LEFT(sector, 3) < RIGHT(sector, 3) THEN sector
								ELSE RIGHT(sector, 3) + '-' + LEFT(sector, 3)
							END )
	) count_number_id 
	,
	*
--CONCAT( flight_date_format  , '-' , flight_no ) , count(*) 
from flight_analyze 
where 1=1 
    and country_arrives = 'Vietnam'
    AND country_departure = 'Vietnam'


--select * 
--from flight_detail
--where source in ( 'SGN' , 'VCL' )
--and flight_no = 'BL6220'
GO
/****** Object:  View [dbo].[source_pbi_over_night]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[source_pbi_over_night] as
with data as (
select * 
from source_pbi 
where count_number_id = 1 
and com = 'Y'
--order by flight_no , flight_date_format 
)

select d1.flight_date_format  , d1.source , d1.sortedroute , d1.flight_no , 
	d.flight_date_format flight_date_format_  , d.source source_ , d.sortedroute  sortedroute_, d.flight_no flight_no_
--into qua_dem 
from data d 
	 join data d1 on d.flight_date_format = dateadd( day, 1, d1.flight_date_format ) 
				and d.sortedroute = d1.sortedroute 
				--and right ( d.flight_no ,1 ) = '.' 
				and ( d1.flight_no like concat ('%' ,  d.flight_no , '%'  ) or ( d.flight_no like concat ('%' ,  d1.flight_no , '%'  )))
GO
/****** Object:  Table [dbo].[qua_dem]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qua_dem](
	[flight_date_format] [date] NULL,
	[source] [varchar](max) NULL,
	[sortedroute] [varchar](max) NULL,
	[flight_no] [varchar](max) NULL,
	[flight_date_format_] [date] NULL,
	[source_] [varchar](max) NULL,
	[sortedroute_] [varchar](max) NULL,
	[flight_no_] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[final]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--create view source_pbi 
--as
create view [dbo].[final] as

with data as (
select 
CASE 
        WHEN LEFT(sector, 3) < RIGHT(sector, 3) THEN sector
        ELSE RIGHT(sector, 3) + '-' + LEFT(sector, 3)
    END AS SortedRoute
	, ROW_NUMBER () over ( partition by concat ( flight_date_format , flight_no  , CASE 
        WHEN LEFT(sector, 3) < RIGHT(sector, 3) THEN sector
        ELSE RIGHT(sector, 3) + '-' + LEFT(sector, 3)
    END ) order by rnk_sg desc ,total_pax desc ) rnk_id 
	, count ( concat ( flight_date_format , flight_no  
							  , CASE 
								WHEN LEFT(sector, 3) < RIGHT(sector, 3) THEN sector
								ELSE RIGHT(sector, 3) + '-' + LEFT(sector, 3)
							END ) )
	  over (
	  partition by 
							concat ( flight_date_format , flight_no  
							  , CASE 
								WHEN LEFT(sector, 3) < RIGHT(sector, 3) THEN sector
								ELSE RIGHT(sector, 3) + '-' + LEFT(sector, 3)
							END )
	) count_number_id 
	,
	* , 'international' type
--CONCAT( flight_date_format  , '-' , flight_no ) , count(*) 
 
from flight_analyze 
where 1=1 
    and ( country_arrives <> 'Vietnam'
    or country_departure <> 'Vietnam' )

) 


--union all 
select *
from data 
where 1=1 
--and count_number_id = 2 
--and rnk_id = 1 
----select * 
----from flight_detail
----where source in ( 'SGN' , 'VCL' )
----and flight_no = 'BL6220'

union all
--select * 
--from qua_dem 
select * , 'domestic'
from source_pbi 
where 1=1 
and count_number_id > 1 
and rnk_id = 1 

union all 
select *  , 'needed_clean' as type 
from source_pbi 
where 1=1 
and count_number_id = 1 
--and com = 'Y'
and concat ( flight_date_format   , sortedroute , flight_no )  not in 
	( 
	select 
 concat ( flight_date_format_  , sortedroute_ , flight_no_ )
	from qua_dem	
	
	union all 
	select concat ( flight_date_format   , sortedroute , flight_no )
		
	from qua_dem
	where 1=1 
		
	)

union all
select * , 'overnight' as type 
from source_pbi 
where 1=1 
and count_number_id = 1 
--and com = 'Y'
and concat ( flight_date_format   , sortedroute , flight_no )   in 
	( 
	select 
	--*
	--count(*)
	case 
			when  source_  = 'SGN' then concat ( flight_date_format_  , sortedroute_ , flight_no_ )
			when  source = 'SGN' then	concat ( flight_date_format   , sortedroute , flight_no )
			else concat ( flight_date_format   , sortedroute , flight_no )
		end 
	--concat ( flight_date_format_  , sortedroute_ , flight_no_ )
	from qua_dem
	where 1=1 
	--and 
		
	)
	--) select *
	--from final 
GO
/****** Object:  Table [dbo].[202335_mn]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[202335_mn](
	[index] [bigint] NULL,
	[flight_date] [datetime] NULL,
	[flight_no] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[total_pax] [bigint] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[config] [bigint] NULL,
	[bag] [varchar](max) NULL,
	[seat] [bigint] NULL,
	[adl] [varchar](max) NULL,
	[chd] [float] NULL,
	[ac_reg_no] [varchar](max) NULL,
	[flighttype] [varchar](max) NULL,
	[source] [varchar](max) NULL,
	[sheet_name] [varchar](max) NULL,
	[status] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[actype]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actype](
	[index] [bigint] NULL,
	[actype] [varchar](max) NULL,
	[seat] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[actype_seat]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actype_seat](
	[actype] [varchar](max) NULL,
	[seat] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[add_route]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[add_route](
	[value] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[all_flight]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[all_flight](
	[index] [bigint] NULL,
	[flight_date] [varchar](max) NULL,
	[flight_no] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[total_pax] [varchar](max) NULL,
	[cgo] [varchar](max) NULL,
	[mail] [varchar](max) NULL,
	[config] [varchar](max) NULL,
	[bag] [varchar](max) NULL,
	[seat] [bigint] NULL,
	[adl] [varchar](max) NULL,
	[chd] [varchar](max) NULL,
	[ac_reg_no] [varchar](max) NULL,
	[flighttype] [varchar](max) NULL,
	[source] [varchar](max) NULL,
	[sheet_name] [varchar](max) NULL,
	[status] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataDung]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataDung](
	[Key_ID] [varchar](255) NOT NULL,
	[flightdate_Formatted] [varchar](8) NULL,
	[flightno] [varchar](255) NULL,
	[route] [varchar](255) NULL,
	[actype] [varchar](255) NULL,
	[seat] [int] NULL,
	[adl] [int] NULL,
	[chd] [int] NULL,
	[cgo] [int] NULL,
	[mail] [int] NULL,
	[source] [varchar](255) NULL,
	[acregno] [varchar](255) NULL,
	[sheet_name] [varchar](255) NULL,
	[totalpax] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Key_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataSai]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataSai](
	[Key_ID] [varchar](255) NOT NULL,
	[flightdate] [varchar](255) NULL,
	[flightno] [varchar](255) NULL,
	[route] [varchar](255) NULL,
	[actype] [varchar](255) NULL,
	[seat] [int] NULL,
	[adl] [int] NULL,
	[chd] [int] NULL,
	[cgo] [int] NULL,
	[mail] [int] NULL,
	[source] [varchar](255) NULL,
	[acregno] [varchar](255) NULL,
	[sheet_name] [varchar](255) NULL,
	[totalpax] [int] NULL,
	[Is_InvalidFlightDate] [bit] NULL,
	[Is_InvalidPassengerCargo] [bit] NULL,
	[Is_InvalidRoute] [bit] NULL,
	[Is_InvalidSheetFilter] [bit] NULL,
	[Is_InvalidActypeSeat] [bit] NULL,
	[ErrorReason] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Key_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[error_actype]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[error_actype](
	[convert_date] [bigint] NULL,
	[flightno] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[totalpax] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[acregno] [varchar](max) NULL,
	[source] [nvarchar](max) NULL,
	[sheet_name] [nvarchar](max) NULL,
	[region_type] [int] NOT NULL,
	[seat] [bigint] NULL,
	[week_number] [int] NULL,
	[year_number] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[error_flightno_vcl_cv1_04_2023]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[error_flightno_vcl_cv1_04_2023](
	[convert_date] [bigint] NULL,
	[flightno] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[totalpax] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[acregno] [varchar](max) NULL,
	[source] [nvarchar](max) NULL,
	[sheet_name] [nvarchar](max) NULL,
	[region_type] [int] NOT NULL,
	[seat] [bigint] NULL,
	[week_number] [int] NULL,
	[year_number] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[error_route_vii_36_2023]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[error_route_vii_36_2023](
	[convert_date] [bigint] NULL,
	[flightno] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[totalpax] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[acregno] [varchar](max) NULL,
	[source] [nvarchar](max) NULL,
	[sheet_name] [nvarchar](max) NULL,
	[region_type] [int] NOT NULL,
	[seat] [bigint] NULL,
	[week_number] [int] NULL,
	[year_number] [int] NULL,
	[note] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[error_table]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[error_table](
	[flightdate] [nvarchar](max) NULL,
	[flightno] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[seat] [bigint] NULL,
	[adl] [float] NULL,
	[chd] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[source] [nvarchar](max) NULL,
	[acregno] [varchar](max) NULL,
	[sheet_name] [nvarchar](max) NULL,
	[totalpax] [float] NULL,
	[int_dom] [nvarchar](255) NULL,
	[Is_InvalidFlightDate] [int] NULL,
	[Is_InvalidPassengerCargo] [int] NULL,
	[Is_InvalidRoute] [int] NULL,
	[Is_InvalidActypeSeat] [int] NULL,
	[ErrorReason] [nvarchar](max) NULL,
	[TotalErrors] [int] NULL,
	[time_import] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_clean_data_stg]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_clean_data_stg](
	[flightdate] [nvarchar](max) NULL,
	[flightno] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[seat] [bigint] NULL,
	[adl] [float] NULL,
	[chd] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[source] [nvarchar](max) NULL,
	[acregno] [varchar](max) NULL,
	[sheet_name] [nvarchar](max) NULL,
	[totalpax] [float] NULL,
	[int_dom] [nvarchar](255) NULL,
	[Is_InvalidFlightDate] [int] NULL,
	[Is_InvalidPassengerCargo] [int] NULL,
	[Is_InvalidRoute] [int] NULL,
	[Is_InvalidActypeSeat] [int] NULL,
	[ErrorReason] [nvarchar](max) NULL,
	[TotalErrors] [int] NULL,
	[inserted_time] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_data_mb_53]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_data_mb_53](
	[convert_date] [nvarchar](255) NULL,
	[flightno] [nvarchar](255) NULL,
	[route] [nvarchar](255) NULL,
	[actype] [nvarchar](255) NULL,
	[totalpax] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[sheet_name] [nvarchar](255) NULL,
	[source] [nvarchar](255) NULL,
	[region_type] [float] NULL,
	[week_number] [float] NULL,
	[F12] [nvarchar](255) NULL,
	[F13] [nvarchar](255) NULL,
	[F14] [nvarchar](255) NULL,
	[F15] [nvarchar](255) NULL,
	[F16] [nvarchar](255) NULL,
	[F17] [nvarchar](255) NULL,
	[F18] [nvarchar](255) NULL,
	[F19] [nvarchar](255) NULL,
	[F20] [nvarchar](255) NULL,
	[F21] [nvarchar](255) NULL,
	[F22] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_detail]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_detail](
	[index] [bigint] NULL,
	[flight_date] [varchar](max) NULL,
	[flight_no] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[total_pax] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[seat] [bigint] NULL,
	[source] [varchar](max) NULL,
	[flight_type] [text] NULL,
	[ac_reg_no] [text] NULL,
	[flight_date_format] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_detail_mb_2023]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_detail_mb_2023](
	[index] [bigint] NULL,
	[flight_date] [varchar](max) NULL,
	[flight_no] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[available_tons] [varchar](max) NULL,
	[seat] [int] NULL,
	[total_pax] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[source] [varchar](max) NULL,
	[Note] [varchar](max) NULL,
	[new_source] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_detail_mb_2024]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_detail_mb_2024](
	[index] [bigint] NULL,
	[flight_date] [varchar](max) NULL,
	[flight_no] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[available_tons] [varchar](max) NULL,
	[seat] [int] NULL,
	[total_pax] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[source] [varchar](max) NULL,
	[Note] [varchar](max) NULL,
	[new_source] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_detail_mb_2025_1]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_detail_mb_2025_1](
	[index] [bigint] NULL,
	[flightdate] [varchar](max) NULL,
	[flightno] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[totalpax] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[source] [nvarchar](max) NULL,
	[sheet_name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_detail_mb_2025_2]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_detail_mb_2025_2](
	[index] [bigint] NULL,
	[flightdate] [varchar](max) NULL,
	[flightno] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[totalpax] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[source] [nvarchar](max) NULL,
	[sheet_name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_detail_mb_2025_3]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_detail_mb_2025_3](
	[index] [bigint] NULL,
	[flightdate] [varchar](max) NULL,
	[flightno] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[totalpax] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[source] [nvarchar](max) NULL,
	[sheet_name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_detail_mn_2023]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_detail_mn_2023](
	[index] [bigint] NULL,
	[flightdate] [datetime] NULL,
	[flightno] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[seat] [float] NULL,
	[adl] [float] NULL,
	[chd] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[source] [varchar](max) NULL,
	[acregno] [varchar](max) NULL,
	[sheet_name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_detail_mn_2024]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_detail_mn_2024](
	[index] [bigint] NULL,
	[flightdate] [datetime] NULL,
	[flightno] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[seat] [bigint] NULL,
	[adl] [float] NULL,
	[chd] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[source] [nvarchar](max) NULL,
	[acregno] [varchar](max) NULL,
	[sheet_name] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_detail_mt_2023]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_detail_mt_2023](
	[index] [bigint] NULL,
	[flightdate] [varchar](max) NULL,
	[flightno] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[seat] [float] NULL,
	[totalpax] [float] NULL,
	[source] [nvarchar](max) NULL,
	[sheet_name] [nvarchar](max) NULL,
	[convert_date] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_detail_mt_2023_uih]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_detail_mt_2023_uih](
	[index] [bigint] NULL,
	[flight_date] [varchar](max) NULL,
	[flight_no] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[total_pax] [varchar](max) NULL,
	[cgo] [varchar](max) NULL,
	[mail] [varchar](max) NULL,
	[config] [varchar](max) NULL,
	[seat] [varchar](max) NULL,
	[adl] [float] NULL,
	[chd] [float] NULL,
	[ac_reg_no] [varchar](max) NULL,
	[flight_type] [varchar](max) NULL,
	[source] [varchar](max) NULL,
	[sheet_name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_detail_mt_2024]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_detail_mt_2024](
	[index] [bigint] NULL,
	[flightdate] [varchar](max) NULL,
	[flightno] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[seat] [float] NULL,
	[totalpax] [float] NULL,
	[source] [nvarchar](max) NULL,
	[sheet_name] [nvarchar](max) NULL,
	[convert_date] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_detail_sl_2024]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_detail_sl_2024](
	[index] [bigint] NULL,
	[flight_date] [varchar](max) NULL,
	[flight_no] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[available_tons] [varchar](max) NULL,
	[seat] [int] NULL,
	[total_pax] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[source] [nvarchar](500) NULL,
	[Note] [varchar](max) NULL,
	[new_source] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_MN_22_43_SGN]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_MN_22_43_SGN](
	[index] [bigint] NULL,
	[flightdate] [datetime] NULL,
	[flightno] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[seat] [bigint] NULL,
	[adl] [float] NULL,
	[chd] [float] NULL,
	[acregno] [varchar](max) NULL,
	[source] [nvarchar](max) NULL,
	[sheet_name] [nvarchar](max) NULL,
	[flightdate_convert] [nvarchar](8) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight_raw]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight_raw](
	[flightdate] [nvarchar](max) NULL,
	[flightno] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[seat] [bigint] NULL,
	[adl] [float] NULL,
	[chd] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[source] [nvarchar](max) NULL,
	[acregno] [varchar](max) NULL,
	[sheet_name] [nvarchar](max) NULL,
	[totalpax] [float] NULL,
	[int_dom] [nvarchar](255) NULL,
	[Is_InvalidFlightDate] [int] NULL,
	[Is_InvalidPassengerCargo] [int] NULL,
	[Is_InvalidRoute] [int] NULL,
	[Is_InvalidActypeSeat] [int] NULL,
	[ErrorReason] [nvarchar](max) NULL,
	[TotalErrors] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[format_date_2024]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[format_date_2024](
	[index] [bigint] NULL,
	[orginal] [varchar](max) NULL,
	[(No column name)] [bigint] NULL,
	[format] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[format_date_mt_2024]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[format_date_mt_2024](
	[(No column name)] [datetime] NULL,
	[(No column name)1] [float] NULL,
	[format] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HPH_flightno_route_equal]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPH_flightno_route_equal](
	[flightno] [varchar](max) NULL,
	[route] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HPH_flightno_route_equal_list]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HPH_flightno_route_equal_list](
	[convert_date] [bigint] NULL,
	[flightno] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[totalpax] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[acregno] [varchar](max) NULL,
	[source] [nvarchar](max) NULL,
	[sheet_name] [nvarchar](max) NULL,
	[region_type] [int] NOT NULL,
	[seat] [bigint] NULL,
	[week_number] [int] NULL,
	[year_number] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[import_log]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[import_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[file_name] [nvarchar](255) NULL,
	[import_date] [datetime] NULL,
	[source_type] [varchar](50) NULL,
	[status] [varchar](20) NULL,
	[row_count] [int] NULL,
	[clean_data] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[map_dao_chuan]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[map_dao_chuan](
	[Dao KHCN] [float] NULL,
	[Dao KHDN] [float] NULL,
	[Tháng] [float] NULL,
	[Vùng] [nvarchar](255) NULL,
	[Phân loại chi nhánh] [nvarchar](255) NULL,
	[Tên đơn vị] [nvarchar](255) NULL,
	[Tỉnh/Thành Phố] [nvarchar](255) NULL,
	[Xếp loại trong kỳ (toàn đơn vị)] [nvarchar](255) NULL,
	[Điểm toàn đơn vị] [float] NULL,
	[Điểm mảng KHCN] [float] NULL,
	[Điểm mảng KHDN_SME] [float] NULL,
	[Điểm mảng KHDN_LC] [float] NULL,
	[TS_KHCN] [float] NULL,
	[TS_KHDN_SME] [float] NULL,
	[TS_KHDN_LC] [float] NULL,
	[Điểm CLDV] [float] NULL,
	[rnk] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mb_chot]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mb_chot](
	[flightdate] [varchar](max) NULL,
	[converted_date] [nvarchar](4000) NULL,
	[flightno] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[totalpax] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[source] [nvarchar](max) NULL,
	[sheet_name] [varchar](max) NULL,
	[source_format] [nvarchar](3) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Missing_Dimensions_Log]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Missing_Dimensions_Log](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Value] [nvarchar](255) NULL,
	[SourceSheet] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mn_chot]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mn_chot](
	[converted_date] [varchar](max) NULL,
	[flightno] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[totalpax] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[acregno] [varchar](max) NULL,
	[seat] [bigint] NULL,
	[source] [nvarchar](max) NULL,
	[sheet_name] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MT_2023_format_date]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_2023_format_date](
	[index] [bigint] NULL,
	[flightdate] [varchar](max) NULL,
	[So_luong] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MT_2024_format_date]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MT_2024_format_date](
	[index] [bigint] NULL,
	[flightdate] [varchar](max) NULL,
	[ConvertedDate] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mt_chot]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mt_chot](
	[flightdate] [varchar](max) NULL,
	[convert_date] [bigint] NULL,
	[flightno] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[totalpax] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[source] [nvarchar](max) NULL,
	[sheet_name] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Route]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Route](
	[index] [bigint] NULL,
	[ROUTE] [varchar](max) NULL,
	[AC] [varchar](max) NULL,
	[Route_ID] [varchar](max) NULL,
	[FH (THEO GIỜ)] [time](7) NULL,
	[FLIGHT HOUR] [float] NULL,
	[TAXI] [float] NULL,
	[BLOCK HOUR] [float] NULL,
	[DISTANCE KM] [float] NULL,
	[Loại] [varchar](max) NULL,
	[Type] [varchar](max) NULL,
	[Country] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seat_actype]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seat_actype](
	[index] [bigint] NULL,
	[actype] [varchar](max) NULL,
	[seat] [float] NULL,
	[note] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seat_by_AC_type]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seat_by_AC_type](
	[ACRegNo] [varchar](max) NULL,
	[Brand] [varchar](max) NULL,
	[AC_Type] [varchar](max) NULL,
	[Seat] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempActypeImport]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempActypeImport](
	[Actype] [varchar](255) NOT NULL,
	[Seat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Actype] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempRouteImport]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempRouteImport](
	[Route] [varchar](255) NOT NULL,
	[AC] [varchar](50) NULL,
	[Route_ID] [varchar](50) NULL,
	[FH (THEO GIỜ)] [decimal](10, 2) NULL,
	[FLIGHT HOUR] [decimal](10, 2) NULL,
	[TAXI] [decimal](10, 2) NULL,
	[BLOCK HOUR] [decimal](10, 2) NULL,
	[DISTANCE KM] [int] NULL,
	[Loại] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[Country] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Route] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test_2]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_2](
	[flightdate] [nvarchar](max) NULL,
	[flightno] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[seat] [bigint] NULL,
	[adl] [float] NULL,
	[chd] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[source] [nvarchar](max) NULL,
	[acregno] [varchar](max) NULL,
	[sheet_name] [nvarchar](max) NULL,
	[totalpax] [float] NULL,
	[index] [bigint] NULL,
	[IATACode] [varchar](max) NULL,
	[Airport Name] [varchar](max) NULL,
	[City] [varchar](max) NULL,
	[Country] [varchar](max) NULL,
	[int_dom] [varchar](3) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test_flight_detail_mb_2024]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_flight_detail_mb_2024](
	[index] [bigint] NULL,
	[flight_date] [varchar](max) NULL,
	[flight_no] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[available_tons] [varchar](max) NULL,
	[seat] [int] NULL,
	[total_pax] [float] NULL,
	[cgo] [float] NULL,
	[mail] [float] NULL,
	[source] [nvarchar](max) NULL,
	[sheet_name] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uni_concat]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uni_concat](
	[level_0] [bigint] NULL,
	[index] [bigint] NULL,
	[date_] [varchar](max) NULL,
	[flight_date] [varchar](max) NULL,
	[flight_no] [varchar](max) NULL,
	[actype] [varchar](max) NULL,
	[route] [varchar](max) NULL,
	[total_pax] [varchar](max) NULL,
	[cgo] [varchar](max) NULL,
	[mail] [varchar](max) NULL,
	[ac_reg_no] [varchar](max) NULL,
	[seat] [bigint] NULL,
	[source] [varchar](max) NULL,
	[file_name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [ix_202335_mn_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_202335_mn_index] ON [dbo].[202335_mn]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_actype_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_actype_index] ON [dbo].[actype]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_Airline_Details_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_Airline_Details_index] ON [dbo].[Airline_Details]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_Airline_Route_Details_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_Airline_Route_Details_index] ON [dbo].[Airline_Route_Details]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_Airport_Information_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_Airport_Information_index] ON [dbo].[Airport_Information]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_flight_detail_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_flight_detail_index] ON [dbo].[flight_detail]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_flight_detail_mb_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_flight_detail_mb_index] ON [dbo].[flight_detail_mb_2024]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_flight_detail_mb_2025_1_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_flight_detail_mb_2025_1_index] ON [dbo].[flight_detail_mb_2025_1]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_flight_detail_mb_2025_2_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_flight_detail_mb_2025_2_index] ON [dbo].[flight_detail_mb_2025_2]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_flight_detail_mb_2025_3_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_flight_detail_mb_2025_3_index] ON [dbo].[flight_detail_mb_2025_3]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_flight_detail_mn_2023_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_flight_detail_mn_2023_index] ON [dbo].[flight_detail_mn_2023]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_flight_detail_mn_2024_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_flight_detail_mn_2024_index] ON [dbo].[flight_detail_mn_2024]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_flight_detail_mt_2023_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_flight_detail_mt_2023_index] ON [dbo].[flight_detail_mt_2023]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_flight_detail_mt_2024_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_flight_detail_mt_2024_index] ON [dbo].[flight_detail_mt_2024]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_flight_MN_22_43_SGN_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_flight_MN_22_43_SGN_index] ON [dbo].[flight_MN_22_43_SGN]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_format_date_2024_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_format_date_2024_index] ON [dbo].[format_date_2024]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_MT_2023_format_date_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_MT_2023_format_date_index] ON [dbo].[MT_2023_format_date]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_MT_2024_format_date_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_MT_2024_format_date_index] ON [dbo].[MT_2024_format_date]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_Region_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_Region_index] ON [dbo].[Region]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_Route_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_Route_index] ON [dbo].[Route]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_seat_actype_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_seat_actype_index] ON [dbo].[seat_actype]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_test_flight_detail_mb_2024_index]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_test_flight_detail_mb_2024_index] ON [dbo].[test_flight_detail_mb_2024]
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_uni_concat_level_0]    Script Date: 9/25/2025 7:41:33 PM ******/
CREATE NONCLUSTERED INDEX [ix_uni_concat_level_0] ON [dbo].[uni_concat]
(
	[level_0] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Airline_Route_Details] ADD  DEFAULT (getdate()) FOR [inserted_time]
GO
ALTER TABLE [dbo].[DataSai] ADD  DEFAULT ((0)) FOR [Is_InvalidFlightDate]
GO
ALTER TABLE [dbo].[DataSai] ADD  DEFAULT ((0)) FOR [Is_InvalidPassengerCargo]
GO
ALTER TABLE [dbo].[DataSai] ADD  DEFAULT ((0)) FOR [Is_InvalidRoute]
GO
ALTER TABLE [dbo].[DataSai] ADD  DEFAULT ((0)) FOR [Is_InvalidSheetFilter]
GO
ALTER TABLE [dbo].[DataSai] ADD  DEFAULT ((0)) FOR [Is_InvalidActypeSeat]
GO
ALTER TABLE [dbo].[error_table] ADD  CONSTRAINT [DF_error_table_inserted_time]  DEFAULT (getdate()) FOR [time_import]
GO
ALTER TABLE [dbo].[flight_clean_data_stg] ADD  CONSTRAINT [DF_flight_clean_data_stg_inserted_time]  DEFAULT (getdate()) FOR [inserted_time]
GO
ALTER TABLE [dbo].[flight_data_chot] ADD  CONSTRAINT [DF_flight_data_chot_inserted_time]  DEFAULT (getdate()) FOR [inserted_time]
GO
ALTER TABLE [dbo].[import_log] ADD  DEFAULT (getdate()) FOR [import_date]
GO
ALTER TABLE [dbo].[import_log] ADD  DEFAULT ('imported') FOR [status]
GO
ALTER TABLE [dbo].[Missing_Dimensions_Log] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
/****** Object:  StoredProcedure [dbo].[usp_CleanAndProcessFlightData]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[usp_CleanAndProcessFlightData]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
       

        ------------------------------------------------------------------------------------
        -- 1. PREPARE RAW DATA (Initial totalpax calculation)
        -- Sets totalpax in flight_raw based on adl+chd if available, otherwise keeps existing totalpax.
        ------------------------------------------------------------------------------------
        PRINT '1. Preparing raw data in flight_raw...';
        --UPDATE flight_raw
        --SET totalpax = CASE
        --                 WHEN ISNULL(adl, 0) + ISNULL(chd, 0) > 0 THEN ISNULL(adl, 0) + ISNULL(chd, 0)
        --                 ELSE ISNULL(totalpax, 0)
        --               END;

        ------------------------------------------------------------------------------------
        -- 2. LOAD DATA FROM RAW TO STAGING
        -- Inserts data from flight_raw into flight_clean_data_stg for files
        -- that haven't been processed yet (clean_data IS NULL in import_log).
        ------------------------------------------------------------------------------------
        PRINT '2. Loading data from flight_raw to flight_clean_data_stg...';
        -- Optional: Clear staging table if you want it fresh each run for ALL unprocessed files.
        -- If you run this for specific files, you might not want to delete.
        -- DELETE FROM flight_clean_data_stg;

        INSERT INTO flight_clean_data_stg (
            flightdate, flightno, route, actype, seat, adl, chd, cgo, mail,
            source, acregno, sheet_name, totalpax, int_dom,
            Is_InvalidFlightDate, Is_InvalidPassengerCargo, Is_InvalidRoute,
            Is_InvalidActypeSeat, ErrorReason, TotalErrors
            -- Assuming inserted_time has a DEFAULT GETDATE()
        )
        SELECT
            flightdate, flightno, route, actype, seat, adl, chd, cgo, mail,
            source, acregno, sheet_name, totalpax, int_dom,
            0, 0, 0, 0, NULL, 0 -- Initialize error flags and counts
        FROM flight_raw
        WHERE source IN (SELECT file_name FROM import_log WHERE clean_data IS NULL);

        ------------------------------------------------------------------------------------
        -- 3. ENRICH DATA IN STAGING TABLE (flight_clean_data_stg)
        ------------------------------------------------------------------------------------
        PRINT '3. Enriching data in flight_clean_data_stg...';

        -- 3.1. Update totalpax (again, consistent with your original script)
        -- This ensures totalpax is based on adl+chd if present, even if it was pre-filled.
        UPDATE flight_clean_data_stg
        SET totalpax = CASE
                         WHEN ISNULL(adl, 0) + ISNULL(chd, 0) > 0 THEN ISNULL(adl, 0) + ISNULL(chd, 0)
                         ELSE ISNULL(totalpax, 0)
                       END;

        -- 3.2. Update int_dom (International/Domestic)
        -- Determines if a flight is DOM (Domestic) or INT (International) based on airport countries.
        -- Assumes route is 'XXX-YYY' where XXX is departure and YYY is arrival.
        UPDATE fcs
        SET fcs.int_dom =
            CASE
                WHEN dep.Country = 'Vietnam' AND arr.Country = 'Vietnam' THEN 'DOM'
                WHEN dep.Country IS NOT NULL AND arr.Country IS NOT NULL AND (dep.Country != 'Vietnam' OR arr.Country != 'Vietnam') THEN 'INT'
                ELSE NULL -- If airport country information is missing
            END
        FROM flight_clean_data_stg fcs
        LEFT JOIN Airport_Information dep ON LEFT(TRIM(fcs.route), 3) = dep.IATACode
        LEFT JOIN Airport_Information arr ON RIGHT(TRIM(fcs.route), 3) = arr.IATACode
        WHERE fcs.int_dom IS NULL; -- Only update if not already set

        -- 3.3. Update seat capacity
        -- Fills missing seat counts from the actype_seat table.
        UPDATE fcs
        SET fcs.seat = COALESCE(fcs.seat, s.seat) -- Use existing seat if not null, otherwise lookup
        FROM flight_clean_data_stg fcs
        LEFT JOIN actype_seat s ON LOWER(TRIM(fcs.actype)) = LOWER(TRIM(s.actype));

        ------------------------------------------------------------------------------------
        -- 4. VALIDATE DATA IN STAGING TABLE (flight_clean_data_stg)
        ------------------------------------------------------------------------------------
        PRINT '4. Validating data in flight_clean_data_stg...';
        UPDATE fcs
        SET
            -- 4.1. Validate Flight Date Format and Convertibility
            Is_InvalidFlightDate = CAST(CASE
                WHEN fcs.flightdate IS NULL THEN 1 -- Null date is invalid
                WHEN -- Attempt to parse various common date formats
                    CASE
						when  ISNUMERIC ( fcs.flightdate ) = 1 then DATEADD(DAY, cast(fcs.flightdate  as int ) , '1899-12-30')
						WHEN fcs.flightdate LIKE '__/_/____' THEN TRY_CONVERT(DATE, fcs.flightdate, 103)
                        WHEN fcs.flightdate LIKE '__/__/____' THEN TRY_CONVERT(DATE, fcs.flightdate, 103) -- dd/MM/yyyy
                        WHEN fcs.flightdate LIKE '____-__-__ %' THEN TRY_CONVERT(DATE, LEFT(fcs.flightdate, 10), 120) -- yyyy-MM-dd HH:mm:ss
                        WHEN fcs.flightdate LIKE '____/__/__' THEN TRY_CONVERT(DATE, fcs.flightdate, 111) -- yyyy/MM/dd (assuming this based on common formats)
                        WHEN LEN(TRIM(fcs.flightdate)) = 8 AND ISNUMERIC(TRIM(fcs.flightdate)) = 1 THEN TRY_CONVERT(DATE, TRIM(fcs.flightdate), 112) -- yyyyMMdd
                        WHEN TRY_CONVERT(DATETIME, fcs.flightdate) IS NOT NULL THEN CONVERT(DATE, fcs.flightdate) -- General datetime string
                        ELSE NULL
                    END IS NULL
                THEN 1 ELSE 0 END AS BIT),

            -- 4.2. Validate Passenger + Cargo Load
            -- Checks if total payload (passengers + cargo + mail) is zero or less.
            Is_InvalidPassengerCargo = CAST(CASE
                WHEN ISNULL(fcs.totalpax, 0) + ISNULL(fcs.cgo, 0) + ISNULL(fcs.mail, 0) <= 0
                THEN 1 ELSE 0 END AS BIT),

            -- 4.3. Validate Route
            -- Checks if the route exists in AIRLINE_ROUTE_DETAILS.
            -- Normalizes route to 'SMALLER_CODE-LARGER_CODE' for lookup.
                          Is_InvalidRoute = CAST(CASE 
        WHEN NOT EXISTS (
            SELECT 1 FROM AIRLINE_ROUTE_DETAILS ARD
            WHERE ARD.SECTOR = (
                CASE
                    WHEN LEN(TRIM( fcs.route)) = 7 AND CHARINDEX('-',  fcs.route) > 0 THEN
                        CASE
                            WHEN LEFT( fcs.route, 3) < RIGHT( fcs.route, 3) 
                                THEN CONCAT(LEFT( fcs.route, 3), RIGHT( fcs.route, 3))
                            ELSE CONCAT(RIGHT( fcs.route, 3), LEFT( fcs.route, 3))
                        END
                    ELSE NULL
                END
            )
        ) THEN 1 ELSE 0 END AS BIT),


            -- 4.4. Validate Actype (Aircraft Type) and Seat
            -- Checks if actype exists in actype_seat, unless it's a pure cargo/mail flight.
            Is_InvalidActypeSeat = CAST(CASE
                WHEN (ISNULL(fcs.cgo, 0) + ISNULL(fcs.mail, 0) > 0 AND ISNULL(fcs.totalpax,0) = 0) THEN 0 -- If it's a cargo/mail only flight, actype seat presence is not strictly required for this validation rule
                WHEN NOT EXISTS (
                    SELECT 1 FROM actype_seat ATS
                    WHERE LOWER(TRIM(ATS.actype)) = LOWER(TRIM(fcs.actype))
                ) THEN 1 ELSE 0 END AS BIT)
        FROM flight_clean_data_stg fcs;

        -- 4.5. Compile Error Reasons and Total Errors
        UPDATE flight_clean_data_stg
        SET
            ErrorReason = STUFF(
                COALESCE(CASE WHEN Is_InvalidFlightDate = 1 THEN N', flightdate không hợp lệ' ELSE N'' END, N'') +
                COALESCE(CASE WHEN Is_InvalidPassengerCargo = 1 THEN N', tổng số khách + hàng hóa <= 0' ELSE N'' END, N'') +
                COALESCE(CASE WHEN Is_InvalidRoute = 1 THEN N', route không tồn tại trong AIRLINE_ROUTE_DETAILS' ELSE N'' END, N'') +
                COALESCE(CASE WHEN Is_InvalidActypeSeat = 1 THEN N', actype không tồn tại trong actype_seat hoặc không phải chuyến bay chở hàng' ELSE N'' END, N''),
                1, 2, N'' -- Removes leading ', '
            ),
            TotalErrors =
                ISNULL(Is_InvalidFlightDate, 0) +
                ISNULL(Is_InvalidPassengerCargo, 0) +
                ISNULL(Is_InvalidRoute, 0) +
                ISNULL(Is_InvalidActypeSeat, 0);

        ------------------------------------------------------------------------------------
        -- 5. MOVE CLEAN DATA TO FINAL TABLE (flight_data_chot)
        ------------------------------------------------------------------------------------
        PRINT '5. Moving clean data from staging to flight_data_chot...';
        INSERT INTO flight_data_chot (
            convert_date, flightno, route, actype, totalpax, cgo, mail,
            acregno, source, sheet_name, seat, region_type , int_dom_
        )
        SELECT
            FORMAT( -- Standardizes the date to 'yyyyMMdd' string
                CASE
                    WHEN fcs.flightdate LIKE '__/__/____' THEN TRY_CONVERT(DATE, fcs.flightdate, 103)
                    WHEN fcs.flightdate LIKE '____-__-__ %' THEN TRY_CONVERT(DATE, LEFT(fcs.flightdate, 10), 120)
                    WHEN fcs.flightdate LIKE '____/__/__' THEN TRY_CONVERT(DATE, fcs.flightdate, 111)
                    WHEN LEN(TRIM(fcs.flightdate)) = 8 AND ISNUMERIC(TRIM(fcs.flightdate)) = 1 THEN TRY_CONVERT(DATE, TRIM(fcs.flightdate), 112)
                    WHEN TRY_CONVERT(DATETIME, fcs.flightdate) IS NOT NULL THEN CONVERT(DATE, fcs.flightdate)
                    ELSE NULL
                END,
            'yyyyMMdd') AS convert_date,
            fcs.flightno, fcs.route, fcs.actype, fcs.totalpax, fcs.cgo, fcs.mail,
            fcs.acregno, fcs.source, fcs.sheet_name, fcs.seat,
            --5 AS type_filter,  -- Static value as per your script
            10 AS region_type -- Static value as per your script
			, int_dom
        FROM flight_clean_data_stg fcs
        WHERE fcs.TotalErrors = 0;

        -- Remove clean data from staging
        DELETE FROM flight_clean_data_stg WHERE TotalErrors = 0;

        ------------------------------------------------------------------------------------
        -- 6. MOVE ERRORED DATA FROM STAGING TO ERROR TABLE (error_table)
        ------------------------------------------------------------------------------------
        PRINT '6. Moving errored data from staging to error_table...';
        INSERT INTO error_table (
            flightdate, flightno, route, actype, seat, adl, chd, cgo, mail,
            source, acregno, sheet_name, totalpax, int_dom, Is_InvalidFlightDate,
            Is_InvalidPassengerCargo, Is_InvalidRoute, Is_InvalidActypeSeat,
            ErrorReason, TotalErrors
        )
        SELECT
            flightdate, flightno, route, actype, seat, adl, chd, cgo, mail,
            source, acregno, sheet_name, totalpax, int_dom, Is_InvalidFlightDate,
            Is_InvalidPassengerCargo, Is_InvalidRoute, Is_InvalidActypeSeat,
            ErrorReason, TotalErrors
        FROM flight_clean_data_stg; -- All remaining records have TotalErrors > 0

        -- Clear staging table completely
        DELETE FROM flight_clean_data_stg;

        ------------------------------------------------------------------------------------
        -- 7. RE-VALIDATE ERROR TABLE (As per your original script flow)
        -- This step assumes data in error_table might have been fixed, or dimensions added,
        -- allowing some previously errored records to become valid.
        ------------------------------------------------------------------------------------
   
		  UPDATE import_log
        SET clean_data = 1
        WHERE clean_data IS NULL

		--begin transaction  commit transaction 
		update flight_data_chot
		set type_filter = case 
		when CHARINDEX( 'SGN' , route ) > 1 and sheet_name != 'SGN' then 0 
		when sheet_name = 'SGN' then 1 
		when int_dom_ = 'INT' then 2 
		when sheet_name = left( route,3)  then 3 
		else -1 
	end 
		where  inserted_time >= '2025-06-01'
		and type_filter is  null
    END TRY
	 BEGIN CATCH
        PRINT '*** ERROR OCCURRED ***';
        PRINT 'Error Number: ' + CAST(ERROR_NUMBER() AS VARCHAR);
        PRINT 'Error Message: ' + ERROR_MESSAGE();
        PRINT 'Error Line: ' + CAST(ERROR_LINE() AS VARCHAR);
        PRINT 'Error Procedure: ' + ISNULL(ERROR_PROCEDURE(), 'N/A');
        PRINT 'Error Severity: ' + CAST(ERROR_SEVERITY() AS VARCHAR);
        PRINT 'Error State: ' + CAST(ERROR_STATE() AS VARCHAR);

        -- Optional: Rethrow the error if needed
        -- THROW; -- Uncomment if you want the calling process to receive the error
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_LogMissingDimensions]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_LogMissingDimensions]
AS
BEGIN
    SET NOCOUNT ON;


	delete from Missing_Dimensions_Log
    -- Log route thiếu
    INSERT INTO dbo.Missing_Dimensions_Log (Type, Value, SourceSheet)
    SELECT DISTINCT
        'ROUTE',
        et.route,
        et.sheet_name
    FROM error_table et
    WHERE et.Is_InvalidRoute = 1
      AND NOT EXISTS (
          SELECT 1
          FROM dbo.Missing_Dimensions_Log L
          WHERE L.Type = 'ROUTE' AND L.Value = et.route AND L.SourceSheet = et.sheet_name -- Avoid duplicate log entries for the same route from the same sheet
      );

    -- Log actype thiếu
    INSERT INTO dbo.Missing_Dimensions_Log (Type, Value, SourceSheet)
    SELECT DISTINCT
        'ACTYPE',
        et.actype,
        et.sheet_name
    FROM error_table et
    WHERE et.Is_InvalidActypeSeat = 1
      AND (ISNULL(et.cgo, 0) > 0 OR ISNULL(et.totalpax, 0) > 0) -- Only log if it's a passenger or cargo flight needing an actype
      AND NOT EXISTS (
          SELECT 1
          FROM dbo.Missing_Dimensions_Log L
          WHERE L.Type = 'ACTYPE' AND L.Value = et.actype AND L.SourceSheet = et.sheet_name -- Avoid duplicate log entries
      );
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_CleanAndValidateFlightData]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_CleanAndValidateFlightData]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        ------------------------------------------------------------------------------------
        PRINT '7. Re-validating data in error_table...';
        ------------------------------------------------------------------------------------

        UPDATE et
        SET
            Is_InvalidFlightDate = CAST(CASE
                WHEN et.flightdate IS NULL THEN 1
                WHEN
                    CASE
						
						when  ISNUMERIC ( et.flightdate ) = 1 then DATEADD(DAY, cast(et.flightdate  as int ) , '1899-12-30')
						WHEN et.flightdate LIKE '__/_/____' THEN TRY_CONVERT(DATE, et.flightdate, 103)
                        WHEN et.flightdate LIKE '__/__/____' THEN TRY_CONVERT(DATE, et.flightdate, 103)
                        WHEN et.flightdate LIKE '____-__-__ %' THEN TRY_CONVERT(DATE, LEFT(et.flightdate, 10), 120)
                        WHEN et.flightdate LIKE '____/__/__' THEN TRY_CONVERT(DATE, et.flightdate, 111)
                        WHEN LEN(TRIM(et.flightdate)) = 8 AND ISNUMERIC(TRIM(et.flightdate)) = 1 THEN TRY_CONVERT(DATE, TRIM(et.flightdate), 112)
                        WHEN TRY_CONVERT(DATETIME, et.flightdate) IS NOT NULL THEN CONVERT(DATE, et.flightdate)
                        ELSE NULL
                    END IS NULL
                THEN 1 ELSE 0 END AS BIT),

            Is_InvalidPassengerCargo = CAST(CASE
                WHEN ISNULL(et.totalpax, 0) + ISNULL(et.cgo, 0) + ISNULL(et.mail, 0) <= 0 THEN 1 ELSE 0 END AS BIT),

            Is_InvalidRoute = CAST(CASE 
        WHEN NOT EXISTS (
            SELECT 1 FROM AIRLINE_ROUTE_DETAILS ARD
            WHERE ARD.SECTOR = (
                CASE
                    WHEN LEN(TRIM( et.route)) = 7 AND CHARINDEX('-',  et.route) > 0 THEN
                        CASE
                            WHEN LEFT( et.route, 3) < RIGHT( et.route, 3) 
                                THEN CONCAT(LEFT( et.route, 3), RIGHT( et.route, 3))
                            ELSE CONCAT(RIGHT( et.route, 3), LEFT( et.route, 3))
                        END
                    ELSE NULL
                END
            )
        ) THEN 1 ELSE 0 END AS BIT),

            Is_InvalidActypeSeat = CAST(CASE
                WHEN (ISNULL(et.cgo, 0) + ISNULL(et.mail, 0) > 0 AND ISNULL(et.totalpax, 0) = 0) THEN 0
                WHEN NOT EXISTS (
                    SELECT 1 FROM actype_seat ATS
                    WHERE LOWER(TRIM(ATS.actype)) = LOWER(TRIM(et.actype))
                ) THEN 1 ELSE 0 END AS BIT)
        FROM error_table et;

        ------------------------------------------------------------------------------------
        PRINT 'Updating error reason and total errors...';
        ------------------------------------------------------------------------------------

        UPDATE error_table
        SET
            ErrorReason = STUFF(
                COALESCE(CASE WHEN Is_InvalidFlightDate = 1 THEN N', flightdate không hợp lệ' ELSE N'' END, N'') +
                COALESCE(CASE WHEN Is_InvalidPassengerCargo = 1 THEN N', tổng số khách + hàng hóa <= 0' ELSE N'' END, N'') +
                COALESCE(CASE WHEN Is_InvalidRoute = 1 THEN N', route không tồn tại trong AIRLINE_ROUTE_DETAILS' ELSE N'' END, N'') +
                COALESCE(CASE WHEN Is_InvalidActypeSeat = 1 THEN N', actype không tồn tại trong actype_seat hoặc không phải chuyến bay chở hàng' ELSE N'' END, N''),
                1, 2, N''
            ),
            TotalErrors =
                ISNULL(Is_InvalidFlightDate, 0) +
                ISNULL(Is_InvalidPassengerCargo, 0) +
                ISNULL(Is_InvalidRoute, 0) +
                ISNULL(Is_InvalidActypeSeat, 0);

        ------------------------------------------------------------------------------------
        PRINT '8. Moving newly validated data from error_table to flight_data_chot...';
        ------------------------------------------------------------------------------------

        INSERT INTO flight_data_chot (
            convert_date, flightno, route, actype, totalpax, cgo, mail,
            acregno, source, sheet_name, seat, region_type , int_dom_
        )
        SELECT
            FORMAT(
                CASE
                    WHEN et.flightdate LIKE '__/__/____' THEN TRY_CONVERT(DATE, et.flightdate, 103)
                    WHEN et.flightdate LIKE '____-__-__ %' THEN TRY_CONVERT(DATE, LEFT(et.flightdate, 10), 120)
                    WHEN et.flightdate LIKE '____/__/__' THEN TRY_CONVERT(DATE, et.flightdate, 111)
                    WHEN LEN(TRIM(et.flightdate)) = 8 AND ISNUMERIC(TRIM(et.flightdate)) = 1 THEN TRY_CONVERT(DATE, TRIM(et.flightdate), 112)
                    WHEN TRY_CONVERT(DATETIME, et.flightdate) IS NOT NULL THEN CONVERT(DATE, et.flightdate)
                    ELSE NULL
                END,
            'yyyyMMdd') AS convert_date,
            et.flightno, et.route, et.actype, et.totalpax, et.cgo, et.mail,
            et.acregno, et.source, et.sheet_name, et.seat,
            --5 AS type_filter,
            10 AS region_type , 
			int_dom 
        FROM error_table et
        WHERE et.TotalErrors = 0;

		--select * from flight_data_chot where type_filter is not null  and inserted_time > '2025-05-01'
		-- caapj nhaatj kieu moi 
		update flight_data_chot
		set type_filter = case 
		when CHARINDEX( 'SGN' , route ) > 1 and sheet_name != 'SGN' then 0 
		when sheet_name = 'SGN' then 1 
		when int_dom_ = 'INT' then 2 
		when sheet_name = left( route,3)  then 3 
		else -1 
	end 
		where  inserted_time >= '2025-06-01'
		and type_filter is  null 
        ------------------------------------------------------------------------------------
        PRINT 'Deleting validated rows from error_table...';
        ------------------------------------------------------------------------------------

        DELETE FROM error_table WHERE TotalErrors = 0;

        ------------------------------------------------------------------------------------
        PRINT '9. Logging missing dimensions from error_table...';
        ------------------------------------------------------------------------------------

        EXEC dbo.usp_LogMissingDimensions;

        ------------------------------------------------------------------------------------
        PRINT '10. Updating import_log...';
        ------------------------------------------------------------------------------------

        UPDATE import_log
        SET clean_data = 1
        WHERE clean_data IS NULL
          AND file_name IN (
              SELECT DISTINCT source FROM flight_data_chot
              UNION
              SELECT DISTINCT source FROM error_table
          );

        COMMIT TRANSACTION;
        PRINT 'Procedure completed successfully.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT 'Error occurred:';
        PRINT ERROR_MESSAGE();
    END CATCH
END;


GO
/****** Object:  StoredProcedure [dbo].[usp_ImportAndUpdateMissingDimensions]    Script Date: 9/25/2025 7:41:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_ImportAndUpdateMissingDimensions]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    BEGIN TRY
        -- 1. Xử lý Actype
        PRINT 'Processing Actypes...';
        INSERT INTO dbo.actype_seat (actype, seat) -- Giả sử bảng của bạn là actype_seat với cột actype và seat
        SELECT
            tai.Actype,
            tai.Seat
        FROM dbo.TempActypeImport tai
        WHERE NOT EXISTS ( -- Chỉ insert nếu actype chưa tồn tại trong bảng actype_seat
            SELECT 1
            FROM dbo.actype_seat acs
            WHERE acs.actype = tai.Actype
        ) AND tai.Actype IS NOT NULL AND tai.Seat IS NOT NULL; -- Đảm bảo dữ liệu đầu vào hợp lệ

        -- Xóa actype đã được thêm vào actype_seat khỏi Missing_Dimensions_Log
        DELETE mdl
        FROM dbo.Missing_Dimensions_Log mdl
        INNER JOIN dbo.TempActypeImport tai ON mdl.Value = tai.Actype AND mdl.Type = 'ACTYPE'
        WHERE EXISTS ( -- Chỉ xóa nếu actype thực sự đã được thêm vào bảng actype_seat
            SELECT 1
            FROM dbo.actype_seat acs
            WHERE acs.actype = tai.Actype
        );

        -- 2. Xử lý Route
        PRINT 'Processing Routes...';
        -- Giả sử bảng Route của bạn có các cột như trong TempRouteImport
        -- CHÚ Ý: Đổi tên bảng "Route" thành tên bảng Route thực tế của bạn nếu khác
        INSERT INTO dbo.Route (
            [ROUTE], [AC], [Route_ID],  [FLIGHT HOUR],
            [TAXI], [BLOCK HOUR], [DISTANCE KM], [Loại], [Type], [Country]
        )
        SELECT
            tri.Route, tri.AC, tri.Route_ID, tri.[FLIGHT HOUR],
            tri.TAXI, tri.[BLOCK HOUR], tri.[DISTANCE KM], tri.Loại, tri.Type, tri.Country
        FROM dbo.TempRouteImport tri
        WHERE NOT EXISTS ( -- Chỉ insert nếu route chưa tồn tại
            SELECT 1
            FROM dbo.Route r -- CHÚ Ý: Đổi tên bảng "Route"
            WHERE r.[ROUTE] = tri.Route -- Giả sử cột khóa chính/duy nhất là ROUTE
        ) AND tri.Route IS NOT NULL
		and Country IS NOT NULL

		; -- Đảm bảo RouteValue không null

        -- Xóa route đã được thêm vào bảng Route khỏi Missing_Dimensions_Log
        DELETE mdl
        FROM dbo.Missing_Dimensions_Log mdl
        INNER JOIN dbo.TempRouteImport tri ON mdl.Value = tri.Route AND mdl.Type = 'ROUTE'
        WHERE EXISTS ( -- Chỉ xóa nếu route thực sự đã được thêm vào bảng Route
            SELECT 1
            FROM dbo.Route r -- CHÚ Ý: Đổi tên bảng "Route"
            WHERE r.[ROUTE] = tri.Route
        );

        -- Dọn dẹp bảng tạm
        PRINT 'Clearing temporary tables...';
        TRUNCATE TABLE dbo.TempActypeImport;
        TRUNCATE TABLE dbo.TempRouteImport;

        COMMIT TRANSACTION;
        PRINT 'Missing dimensions imported and log cleaned successfully.';

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        PRINT 'Error occurred during import: ' + ERROR_MESSAGE();
        -- Ghi log lỗi nếu cần
        THROW; -- Ném lỗi ra để Python có thể bắt được
    END CATCH
END;
GO
USE [master]
GO
