WITH SECTOR_DOM AS (
    SELECT 
        CASE 
            WHEN LEFT(SECTOR, CHARINDEX('-', SECTOR) - 1) 
                 < RIGHT(SECTOR, LEN(SECTOR) - CHARINDEX('-', SECTOR))
                THEN SECTOR
            ELSE RIGHT(SECTOR, LEN(SECTOR) - CHARINDEX('-', SECTOR)) 
                 + '-' 
                 + LEFT(SECTOR, CHARINDEX('-', SECTOR) - 1)
        END AS ROUTE,
        SECTOR,
        [Area_Lv1],
        [DOM/INT]
    FROM SECTOR_ROUTE_DOM_REF
),

ROUTE_ AS (
    SELECT 
        ROUTE,
        [Area_Lv1] AS AREA
    FROM SECTOR_DOM
    WHERE UPPER(LTRIM(RTRIM([DOM/INT]))) = 'DOM'
    GROUP BY ROUTE, [Area_Lv1]
),

FLIGHT_DATA AS (
    SELECT 
        f.id,
        CASE
            WHEN ISNUMERIC(f.flightdate) = 1 
                THEN DATEADD(DAY, CAST(f.flightdate AS INT), '1899-12-30')
            WHEN f.flightdate LIKE '__/_/____'  
                THEN TRY_CONVERT(DATE, f.flightdate, 103)
            WHEN f.flightdate LIKE '__/__/____' 
                THEN TRY_CONVERT(DATE, f.flightdate, 103)
            WHEN f.flightdate LIKE '____-__-__ %' 
                THEN TRY_CONVERT(DATE, LEFT(f.flightdate, 10), 120)
            WHEN f.flightdate LIKE '____/__/__' 
                THEN TRY_CONVERT(DATE, f.flightdate, 111)
            WHEN LEN(TRIM(f.flightdate)) = 8 
                 AND ISNUMERIC(TRIM(f.flightdate)) = 1 
                THEN TRY_CONVERT(DATE, TRIM(f.flightdate), 112)
            WHEN TRY_CONVERT(DATETIME, f.flightdate) IS NOT NULL 
                THEN CONVERT(DATE, f.flightdate)
            ELSE NULL
        END AS flightdate,

        flightno,
        route,
        f.actype,
        COALESCE(f.seat, s.seat) AS seat,
        adl, chd, cgo, mail,
        source, acregno, sheet_name,

        CASE 
            WHEN totalpax > 0 THEN totalpax
            ELSE ISNULL(adl, 0) + ISNULL(chd, 0)
        END AS totalpax,

        CASE 
            WHEN totalpax = 0 
                 AND (ISNULL(cgo, 0) + ISNULL(mail, 0) > 0) THEN 0
            WHEN totalpax > 0 THEN 1
        END AS FLIGHT_TYPE

    FROM flight_raw f
    LEFT JOIN AIRPORT_REF dep 
        ON LEFT(TRIM(f.route), 3) = dep.IATACode
    LEFT JOIN AIRPORT_REF arr 
        ON RIGHT(TRIM(f.route), 3) = arr.IATACode
    LEFT JOIN actype_seat s 
        ON LOWER(TRIM(f.actype)) = LOWER(TRIM(s.actype))

    WHERE 
        CASE 
            WHEN CHARINDEX('SGN', route) > 1 
                 AND sheet_name != 'SGN' THEN 0
            WHEN sheet_name = 'SGN' THEN 1
            WHEN CASE
                    WHEN dep.Country = 'Vietnam' 
                         AND arr.Country = 'Vietnam' THEN 'DOM'
                    WHEN dep.Country IS NOT NULL 
                         AND arr.Country IS NOT NULL 
                         AND (dep.Country != 'Vietnam' 
                              OR arr.Country != 'Vietnam') THEN 'INT'
                    ELSE NULL
                END = 'INT' THEN 2
            WHEN sheet_name = LEFT(route, 3) THEN 3
            ELSE -1
        END > 0
),

DATA_ AS (
    SELECT
        CASE 
            WHEN LEFT(F.ROUTE, CHARINDEX('-', F.ROUTE) - 1) 
                 < RIGHT(F.ROUTE, LEN(F.ROUTE) - CHARINDEX('-', F.ROUTE))
                THEN F.ROUTE
            ELSE RIGHT(F.ROUTE, LEN(F.ROUTE) - CHARINDEX('-', F.ROUTE)) 
                 + '-' 
                 + LEFT(F.ROUTE, CHARINDEX('-', F.ROUTE) - 1)
        END AS ROUTE_SORT,

        F.*,
        LEFT(TRIM(F.FLIGHTNO), 2) AS AIRLINE_CODE,
        A.AIRLINES_NAME,
        A.AIRLINE_NATION,

        LEFT(F.ROUTE, 3) AS DEPARTURE,
        RIGHT(F.ROUTE, 3) AS ARRIVES,

        CASE 
            WHEN UPPER(AI.COUNTRY) = 'VIETNAM' 
                 AND UPPER(AI1.COUNTRY) = 'VIETNAM' THEN 'VIETNAM'
            WHEN UPPER(AI.COUNTRY) = 'VIETNAM' 
                 AND UPPER(AI1.COUNTRY) <> 'VIETNAM' THEN AI1.COUNTRY
            ELSE AI.COUNTRY
        END AS COUNTRY,

        CASE 
            WHEN UPPER(AI.COUNTRY) = 'VIETNAM' 
                 AND UPPER(AI1.COUNTRY) = 'VIETNAM' THEN 'DOM'
            ELSE 'INT'
        END AS INT_DOM,

        CASE 
            WHEN UPPER(C.COUNTRY) = 'VIETNAM' 
                 AND UPPER(C1.COUNTRY) = 'VIETNAM' THEN 'VN'
            WHEN UPPER(C.COUNTRY) = 'VIETNAM' 
                 AND UPPER(C1.COUNTRY) <> 'VIETNAM' THEN C1.[2_LETTER_CODE]
            ELSE C.[2_LETTER_CODE]
        END AS COUNTRY_CODE,

        CASE 
            WHEN UPPER(C.COUNTRY) = 'VIETNAM' 
                 AND UPPER(C1.COUNTRY) = 'VIETNAM' THEN 'VN'
            WHEN UPPER(C.COUNTRY) = 'VIETNAM' 
                 AND UPPER(C1.COUNTRY) <> 'VIETNAM' THEN C1.[REGION_(VNM)]
            ELSE C.[REGION_(VNM)]
        END AS AREA,

        AI.CITY AS CITY_ARRIVES,
        AI.COUNTRY AS COUNTRY_ARRIVES,
        AI1.CITY AS CITY_DEPARTURE,
        AI1.COUNTRY AS COUNTRY_DEPARTURE,
        C2.[2_LETTER_CODE] AS AIRLINE_NATION_CODE
    FROM FLIGHT_DATA F
    LEFT JOIN AIRLINE_REF A 
        ON LEFT(F.FLIGHTNO, 2) = A.CARRIER
    LEFT JOIN AIRPORT_REF AI 
        ON AI.IATACODE = RIGHT(F.ROUTE, 3)
    LEFT JOIN AIRPORT_REF AI1 
        ON AI1.IATACODE = LEFT(F.ROUTE, 3)
    LEFT JOIN COUNTRY_REF C 
        ON AI.COUNTRY = C.COUNTRY
    LEFT JOIN COUNTRY_REF C1 
        ON AI1.COUNTRY = C1.COUNTRY
    LEFT JOIN COUNTRY_REF C2 
        ON C2.COUNTRY = A.AIRLINE_NATION
)

SELECT  

    D.flightdate,
    D.FLIGHTNO,
    D.ROUTE,
    D.ACTYPE,
    D.TOTALPAX,
    D.CGO,
    D.MAIL,
    D.ACREGNO,
    D.SOURCE,
    D.SHEET_NAME,
    D.SEAT,
    D.INT_DOM,
    D.AIRLINE_CODE,
    D.AIRLINES_NAME,
    D.AIRLINE_NATION,
    D.AIRLINE_NATION_CODE,

    DEPARTURE,
    CITY_DEPARTURE,
    COUNTRY_DEPARTURE,
    ARRIVES,
    CITY_ARRIVES,
    COUNTRY_ARRIVES,
    COUNTRY_CODE,
    D.AREA AS AREA_CODE

FROM DATA_ AS D
LEFT JOIN ROUTE_ AS S 
    ON D.ROUTE_SORT = S.ROUTE;
