fastapi[standard]       # Web framework for building APIs
uvicorn                 # ASGI server for serving FastAPI applications
pydantic                # Data validation and settings management
pydantic_settings       # Settings management using Pydantic
sqlalchemy              # SQL toolkit and Object-Relational Mapping (ORM) system
pyodbc                  # Python ODBC bridge
langchain               # Framework for developing applications powered by language models
langchain-openai        # Langchain integration with OpenAI
python-dotenv           # Library for managing environment variables
sqlmodel                # sqlalchemy + pydantic
pandas                  # Data manipulation and analysis library
openpyxl                # Library to read/write Excel 2010 xlsx/xlsm/xltx/xltm files
xlrd                    # Library to extract data from Microsoft Excel (tm) spreadsheet files
requests                # HTTP library for making requests (used in test_data_pipeline.py)
python-multipart        # Multipart/form-data for file uploads